# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask / project uploads
instance/
user_uploads/
uploads/
media/

# Logs
*.log

# Bytecode + build
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
